{% extends 'index.html' %}
{% load static %}
{% block title %}
Verify
{% endblock %}

{% block content %}

<div class="container mt-5 pt-4">
    
    <div class="col-6 mx-auto">
        <h3 class="text-center">Enter OTP sent to your number {{mobile}}</h3>
        {% if message %}
        <div class="alert alert-{{class}}">
            {{message}}
        </div>
        {% endif %}

        <form class="mt-2" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-12 mt-3">
                    <input type="text" placeholder="Enter otp" class="form-control" name="otp" id="">
                </div>

                <div class="col-3 mr-0"> <p class="text-black-50" id='countdown'>Resend OTP in 30 </p> </div>
                <div class="col-6 mr-0 mp-0"> </div>
                <div id='resend' class="col-3 text-right"> <a onclick="(repete())" href="{% url 'otp_generation' %}">Resend OTP </a></div>
                
            </div>
            <br>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br><br><br><br><br><br><br>
</div>

<script type ="text/javascript">

startTime = 30
setInterval(counter, 1000)
function counter() {
  var countdownEL = document.getElementById('countdown')
  if (startTime > 0) {
  startTime = startTime - 1;
  countdownEL.innerHTML = 'Resend OTP in ' + startTime
  console.log(startTime)
  document.getElementById('resend').style.visibility = 'hidden';}
    else if(startTime <= 0){
        document.getElementById('resend').style.visibility = 'visible';
        countdownEL.style.visibility = 'hidden'}}
function repete() {
    startTime = 30;
}   
        

</script>

{% endblock %}